<section class="bottom-footer">
	<div class="container">
		<p class="copyright">
			&copy; 2021 <a class="bottom-footer__link" href="#">Boosted USA</a> All Rights Reserved. <a
				class="bottom-footer__link" href="#">Terms of Service</a>. Built by <a class="bottom-footer__link"
				href="#">BH</a>
		</p>
		<ul class="bottom-footer__list">
			<li class="bottom-footer__item">
				<svg class="bottom-footer__icon" width="38" height="24">
					<use href="./assets/images/footer/pay-logo-icons.svg#icon-amex"></use>
				</svg>
			</li>
			<li class="bottom-footer__item">
				<svg class="bottom-footer__icon" width="38" height="24">
					<use href="./assets/images/footer/pay-logo-icons.svg#icon-diners"></use>
				</svg>
			</li>
			<li class="bottom-footer__item">
				<svg class="bottom-footer__icon" width="38" height="24">
					<use href="./assets/images/footer/pay-logo-icons.svg#icon-gpay"></use>
				</svg>
			</li>
			<li class="bottom-footer__item">
				<svg class="bottom-footer__icon" width="38" height="24">
					<use href="./assets/images/footer/pay-logo-icons.svg#icon-klarna"></use>
				</svg>
			</li>
			<li class="bottom-footer__item">
				<svg class="bottom-footer__icon" width="38" height="24">
					<use href="./assets/images/footer/pay-logo-icons.svg#icon-mastercard"></use>
				</svg>
			</li>
			<li class="bottom-footer__item">
				<svg class="bottom-footer__icon" width="38" height="24">
					<use href="./assets/images/footer/pay-logo-icons.svg#icon-opay"></use>
				</svg>
			</li>
			<li class="bottom-footer__item">
				<svg class="bottom-footer__icon" width="38" height="24">
					<use href="./assets/images/footer/pay-logo-icons.svg#icon-v"></use>
				</svg>
			</li>
			<li class="bottom-footer__item">
				<svg class="bottom-footer__icon" width="38" height="24">
					<use href="./assets/images/footer/pay-logo-icons.svg#icon-visa"></use>
				</svg>
			</li>
		</ul>
	</div>
</section>