<section class="top-footer">
	<div class="container">
		<img src="./assets/images/footer/logo-footer.png" alt="logo">
		<div class="footer__explore">
			<h2 class="explore__title">Explore</h2>
			<ul class="explore__list">
				<li class="explore__item">
					<a class="explore__link" href="#">
						Electric Skateboards
					</a>
				</li>
				<li class="explore__item">
					<a class="explore__link" href="#">
						Electric Scooters
					</a>
				</li>
				<li class="explore__item">
					<a class="explore__link" href="#">
						Accessories
					</a>
				</li>
				<li class="explore__item">
					<a class="explore__link" href="#">
						FAQs
					</a>
				</li>
				<li class="explore__item">
					<a class="explore__link" href="#">
						Warranty
					</a>
				</li>
				<li class="explore__item">
					<a class="explore__link" href="#">
						Quick Start Guide
					</a>
				</li>
				<li class="explore__item">
					<a class="explore__link" href="#">
						Contact
					</a>
				</li>
				<li class="explore__item">
					<a class="explore__link" href="#">
						Gift Card
					</a>
				</li>
				<li class="explore__item">
					<a class="explore__link" href="#">
						Accessibility Statement
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__about">
			<h2 class="about__title">Explore</h2>
			<p class="about__descr">
				Boosted empowers people everywhere to commute across their cities, campuses, and communities in ways
				that were never
				before possible. Boosted is solving one of the biggest problems people face each day: transportation.
			</p>
			<p class="about__info">
				CaliRides LLC - DBA Boosted USA
				1281 Andersen Drive Ste. K
				San Rafael, CA 94901
			</p>
		</div>
	</div>
</section>