<header class="header">
	<section class="top-header">
		<div class="container">
			<p class="top-header__notification">Financing option available at checkout.</p>
		</div>
	</section>
	<section class="main-header">
		<div class="container main-header__container">
			<a class="header__logo-link" href="./index.html">
				<img class="header__logo-img" src="./assets/images/header/logo-header.png" alt="logo">
			</a>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="#">Electric Skateboards</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Electric Scooters</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="">Accessories</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Gift Card</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">More Info</a>
					</li>
				</ul>
			</nav>
			<ul class="navinfo__list">
				<li class="navinfo__item">
					<a class="navinfo__link" href="#">
						<svg class="navinfo__icon" width="18" height="18">
							<use href="./assets/images/icons/icons.svg#icon-profile"></use>
						</svg>
					</a>
				</li>
				<li class="navinfo__item">
					<a class="navinfo__link" href="#">
						<svg class="navinfo__icon" width="18" height="18">
							<use href="./assets/images/icons/icons.svg#icon-cart"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</section>
</header>