<main class="main">
	<include src="./partials/main/hero.html"></include>
	<include src="./partials/main/explain-section.html"></include>
	<include src="./partials/main/skateboards-section.html"></include>
	<include src="./partials/main/scooters-section.html"></include>
	<include src="./partials/main/shop-section.html"></include>
	<!-- <include src="./partials/main/video-section.html"></include> -->
	<include src="./partials/main/accessories-section.html"></include>
	<include src="./partials/main/benefits-section.html"></include>
</main>