<section class="benefits-section">
	<div class="container">
		<ul class="benefits__list">
			<li class="benefits__item">
				<img src="./assets/images/icons/speedometer.svg" width="87" height="87" alt="speedometer">
				<h2 class="benefits__title">Go Fast</h2>
				<p class="benefits__descr">
					Boosted is known for its premium performance boards offering a next-level experience.
				</p>
			</li>
			<li class="benefits__item">
				<img src="./assets/images/icons/gps.svg" width="87" height="87" alt="gps">
				<h2 class="benefits__title">Go Far</h2>
				<p class="benefits__descr">
					With optional extended battery life, you can get wherever you need to go reliably.
				</p>
			</li>
			<li class="benefits__item">
				<img src="./assets/images/icons/lamp.svg" width="87" height="87" alt="lamp">
				<h2 class="benefits__title">Go Safe</h2>
				<p class="benefits__descr">
					Safety is a #1 priority for Boosted, always wear a helmet when riding.
				</p>
			</li>
			<li class="benefits__item">
				<img src="./assets/images/icons/shield.svg" width="87" height="87" alt="shield">
				<h2 class="benefits__title">Built to Last!</h2>
				<p class="benefits__descr">
					Boosted products are engineered to last for years and are extremely reliable.
				</p>
			</li>
		</ul>
	</div>
</section>