<section class="explain-section">
	<div class="container">
		<div class="top-explain">
			<h2 class="explain__title">
				Looking for Boosted Boards, or Boosted Revs?
			</h2>
			<p class="explain__descr">
				Boosted USA acquired all of the remaining inventory directly from Boosted. This means we have the
				electric
				skateboards and scooter you all love and have been looking for. Get your hands on these highly sought
				after
				products while supplies last.
			</p>
		</div>
		<div class="bottom-explain">
			<ul class="explain__list">
				<li class="explain__item">
					<a class="explain__link" href="#">
						<img class="explain__img"
							srcset="./assets/images/explain-section/electric-skateboard.jpg 1x, ./assets/images/explain-section/electric-skateboard@2x.jpg 2x"
							src="./assets/images/explain-section/electric-skateboard.jpg" alt="electric-skateboard">
						<svg class="navinfo__icon" width="50" height="50">
							<use href="./assets/images/icons/icons.svg#icon-lightning"></use>
						</svg>
						<h3 class="explain__link-title">
							Shop Boosted Boards
						</h3>
						<p class="explain__link-descr">In Stock</p>
					</a>
				</li>
				<li class="explain__item">
					<a class="explain__link" href="#">
						<img class="explain__img"
							srcset="./assets/images/explain-section/electric-scooter.jpg 1x, ./assets/images/explain-section/electric-scooter@2x.jpg 2x"
							src="./assets/images/explain-section/electric-scooter.jpg" alt="electric-skateboard">
						<svg class="navinfo__icon" width="50" height="50">
							<use href="./assets/images/icons/icons.svg#icon-lightning"></use>
						</svg>
						<h3 class="explain__link-title">
							Shop Boosted Revs
						</h3>
						<p class="explain__link-descr">In Stock</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>