<section class="hero">
	<div class="overlay-hero">
		<h1 class="hero__title">Welcome to Boosted USA</h1>
		<p class="hero__pretitle">
			The Holy Grail of Electric Skateboards and One REVolutionary Scooter
		</p>
		<ul class="hero__btn-list">
			<li class="hero__item">
				<a class="hero__btn" href="#">BOOSTED REVS</a>
			</li>
			<li class="hero__item">
				<a class="hero__btn" href="#">BOOSTED BOARDS</a>
			</li>
		</ul>
	</div>
	<div class="partners">
		<ul class="partners__list">
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img src="./assets/images/hero/electrek.png" alt="electrek">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img src="./assets/images/hero/tech-crunch.png" alt="tech crunch">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img src="./assets/images/hero/pop-mechanics.png" alt="popular mechanics">
				</a>
			</li>
			<li class="partners__item">
				<a class="partners__link" href="#">
					<img src="./assets/images/hero/wired.png" alt="wired">
				</a>
			</li>
		</ul>
	</div>
</section>