<section class="scooter-section">
	<div class="container">
		<ul class="scooter__list">
			<li class="scooter__item">
				<img class="scooter__img"
					srcset="./assets/images/scooters-section/girl-on-scooter.jpg 1x, ./assets/images/scooters-section/girl-on-scooter@2x.jpg 2x"
					src="./assets/images/scooters-section/girl-on-scooter.jpg" alt="girl-on-scooter">
			</li>
			<li class="scooter__item">
				<img class="scooter__img"
					srcset="./assets/images/scooters-section/scooter.jpg 1x, ./assets/images/scooters-section/scooter@2x.jpg 2x"
					src="./assets/images/scooters-section/scooter.jpg" alt="girl-on-scooter">
			</li>
		</ul>
		<div class="scooters__box">
			<h2 class="scooters__title">
				Boosted Rev
			</h2>
			<p class="scooters__descr">
				There's never been an electric scooter quite like this. Speed past traffic at 24 mph. Go up to 22 miles
				on a single
				charge. You'll get there in no time at all. Stop and go with the roll of your thumb. Its intuitive
				design means there’s
				almost no learning curve.
			</p>
			<a class="scooters__btn" href="#">
				Shop Now
			</a>
		</div>
	</div>
</section>