<section class="shop-section">
	<div class="container">
		<ul class="shop__list">
			<li class="shop__item">
				<a class="shop__link" href="#">
					<img class="shop__img"
						srcset="./assets/images/shop-section/stealth.jpg 1x, ./assets/images/shop-section/stealth@2x.jpg 2x"
						src="./assets/images/shop-section/stealth.jpg" alt="stealth">
					<h3 class="shop__link-title">
						Shop Boosted Stealth
					</h3>
					<p class="shop__link-descr">In Stock</p>
				</a>
			</li>
			<li class="shop__item">
				<a class="shop__link" href="#">
					<img class="shop__img"
						srcset="./assets/images/shop-section/plus.jpg 1x, ./assets/images/shop-section/plus@2x.jpg 2x"
						src="./assets/images/shop-section/plus.jpg" alt="plus">
					<h3 class="shop__link-title">
						Shop Boosted Plus
					</h3>
					<p class="shop__link-descr">In Stock</p>
				</a>
			</li>
			<li class="shop__item">
				<a class="shop__link" href="#">
					<img class="shop__img"
						srcset="./assets/images/shop-section/mini.jpg 1x, ./assets/images/shop-section/mini@2x.jpg 2x"
						src="./assets/images/shop-section/mini.jpg" alt="plus">
					<h3 class="shop__link-title">
						Shop Boosted Mini
					</h3>
					<p class="shop__link-descr">In Stock</p>
				</a>
			</li>
		</ul>
	</div>
</section>