<section class="video-section">
	<div class="container">
		<ul class="video__list">
			<li class="video__item">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/78bXV1ZqQWI?si=LWnaU4pbfQ2BWmCB"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
			</li>
			<li class="video__item">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/oAQxk9dOJ8k?si=KKoKGfY8SxHUGuHM"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
			</li>
		</ul>
	</div>
</section>